{% extends 'admin/index.html.twig' %}

{% block body %}
          <ul class="navbar-nav d-flex align-items-center  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a class="btn btn-outline-primary btn-sm mb-0 me-3" href="{{ path('ajouter_formation') }}">Ajouter formation</a>
<a class="btn btn-outline-primary btn-sm mb-0 me-3" href="{{ path('ajouter_module') }}">Ajouter module</a>

            </li>
            <li class="mt-1">
              <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/material-dashboard on GitHub">Star</a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="material-symbols-rounded fixed-plugin-button-nav">settings</i>
              </a>
            </li>
            <li class="nav-item dropdown pe-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="material-symbols-rounded">notifications</i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New message</span> from Laur
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          13 minutes ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New album</span> by Travis Scott
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 day
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                        <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>credit-card</title>
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g transform="translate(1716.000000, 291.000000)">
                                <g transform="translate(453.000000, 454.000000)">
                                  <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                  <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          Payment successfully completed
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          2 days
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="../admin/sign-in" class="nav-link text-body font-weight-bold px-0">
                <i class="material-symbols-rounded">account_circle</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Formulaire de tri pour les formations -->
<!-- Formulaire de tri pour les formations -->
<form method="get" action="{{ path('admin_formations_modules') }}" class="d-flex align-items-center">
    <label class="form-label me-2" for="formations_sort_by" style="font-size: 0.875rem; width: 180px;">Trier les formations par :</label>
    <select id="formations_sort_by" name="formations_sort_by" class="form-select form-control-sm" style="font-size: 0.875rem;">
        <option value="nom_formation" {% if formationsSortBy == 'nom_formation' %}selected{% endif %}>Nom de la formation</option>
        <option value="duree_formation" {% if formationsSortBy == 'duree_formation' %}selected{% endif %}>Durée</option>
        <option value="datedebut_formation" {% if formationsSortBy == 'datedebut_formation' %}selected{% endif %}>Date de début</option>
    </select>

    <select name="formations_sort_order" class="form-select form-control-sm ms-2" style="font-size: 0.875rem;">
        <option value="asc" {% if formationsSortOrder == 'asc' %}selected{% endif %}>Ascendant</option>
        <option value="desc" {% if formationsSortOrder == 'desc' %}selected{% endif %}>Descendant</option>
    </select>

    <button type="submit" class="btn btn-outline-primary btn-sm ms-2">Appliquer</button>
</form>

<!-- Formulaire de tri pour les modules -->
<form method="get" action="{{ path('admin_formations_modules') }}" class="d-flex align-items-center mt-2">
    <label class="form-label me-2" for="sort_by" style="font-size: 0.875rem; width: 180px;">Trier les modules par :</label>
    <select id="sort_by" name="sort_by" class="form-select form-control-sm" style="font-size: 0.875rem;">
        <option value="nom_module" {% if sortBy == 'nom_module' %}selected{% endif %}>Nom du module</option>
        <option value="nb_heures" {% if sortBy == 'nb_heures' %}selected{% endif %}>Durée</option>
        <option value="datecreation_module" {% if sortBy == 'datecreation_module' %}selected{% endif %}>Date de création</option>
    </select>

    <select name="sort_order" class="form-select form-control-sm ms-2" style="font-size: 0.875rem;">
        <option value="asc" {% if sortOrder == 'asc' %}selected{% endif %}>Ascendant</option>
        <option value="desc" {% if sortOrder == 'desc' %}selected{% endif %}>Descendant</option>
    </select>

    <button type="submit" class="btn btn-outline-primary btn-sm ms-2">Appliquer</button>
</form>

    <!-- End Navbar -->
    <!-- formations_modules.html.twig -->
<div class="container-fluid py-2">
    <div class="row">
        
        <!-- Table des Formations -->
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Table des Formations</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom de la Formation</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Durée</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mode</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de début</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de fin</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom module</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for formation in formations %}
                                <tr>
                                    <td><p class="text-xs font-weight-bold mb-0">{{ formation.nomFormation }}</p></td>
                                    <td><p class="text-xs text-secondary mb-0">{{ formation.descriptionFormation }}</p></td>
                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ formation.dureeFormation }} heures</span></td>
                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ formation.modeFormation }}</span></td>  <!-- Ajout de la colonne Mode -->

                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ formation.datedebutFormation|date('d/m/Y') }}</span></td>
                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ formation.datefinFormation ? formation.datefinFormation|date('d/m/Y') : 'Non définie' }}</span></td>
                                       <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ formation.module.nomModule }}</span></td>
                                          <td>
                    <!-- Lien pour supprimer une formation -->
                    <a href="{{ path('supprimer_formation', {'id': formation.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette formation ?')">Supprimer</a>
                </td>
                  <!-- Lien pour modifier une formation -->
                 <td>   <a href="{{ path('modifier_formation', {'id': formation.id}) }}" class="btn btn-warning">Modifier</a></td>
                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if totalPagesFormations > 1 %}
    <div class="pagination d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                {% if currentPageFormations > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_formations_modules', {'formation_page': currentPageFormations - 1}) }}">&laquo; Précédent</a>
                    </li>
                {% endif %}

                {% for i in 1..totalPagesFormations %}
                    <li class="page-item {% if i == currentPageFormations %}active{% endif %}">
                        <a class="page-link" href="{{ path('admin_formations_modules', {'formation_page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if currentPageFormations < totalPagesFormations %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_formations_modules', {'formation_page': currentPageFormations + 1}) }}">Suivant &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}

            </div>
        </div>

        <!-- Table des Modules -->
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Table des Modules</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom du Module</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Durée</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Niveau</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Catégorie</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de création</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for module in modules %}
                                <tr>
                                    <td><p class="text-xs font-weight-bold mb-0">{{ module.nomModule }}</p></td>
                                    <td>
    <p class="text-xs text-secondary mb-0 break-word">
        {{ module.descriptionModule }}
    </p>
</td>

                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ module.nbHeures }} heures</span></td>
                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ module.niveau }}</span></td>
                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ module.categorie }}</span></td>
                                    <td class="align-middle text-center">
                                        <span class="text-xs font-weight-bold" 
                                              style="color: {{ module.isStatut ? 'green' : 'red' }};">
                                            {{ module.isStatut ? 'Actif' : 'Inactif' }}
                                        </span>
                                    </td>
                                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ module.datecreationModule|date('d/m/Y') }}</span></td>
  
<!-- Bouton Supprimer -->
<td class="align-middle text-center">
  <form method="post" action="{{ path('supprimer_module', {'id': module.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce module ?');">
    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                      <!-- Bouton Modifier -->
<td class="align-middle text-center">
  <a href="{{ path('modifier_module', {'id': module.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if totalPagesModules > 1 %}
    <div class="pagination d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                {% if currentPageModules > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_formations_modules', {'module_page': currentPageModules - 1}) }}">&laquo; Précédent</a>
                    </li>
                {% endif %}

                {% for i in 1..totalPagesModules %}
                    <li class="page-item {% if i == currentPageModules %}active{% endif %}">
                        <a class="page-link" href="{{ path('admin_formations_modules', {'module_page': i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if currentPageModules < totalPagesModules %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_formations_modules', {'module_page': currentPageModules + 1}) }}">Suivant &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}


    </div>
</div>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </main>
  
</html>
{% endblock %}